<%- include('./partials/header') %>

<div class="min-h-screen flex bg-gray-100 text-gray-900">
  
  
  <aside class="w-[20%] h-screen bg-white shadow-md px-6 py-10">
    <h1 class="text-2xl font-bold mb-8 text-blue-600">Admin Panel</h1>
    <nav class="space-y-4 text-lg">
      <a href="/products" class="block hover:text-blue-500 transition">All Products</a>
      <a href="/products/create" class="block hover:text-blue-500 transition">Create New Product</a>
    </nav>
  </aside>


  <main class="flex-grow px-10 py-10">
    <div class="bg-white p-8 rounded shadow">
      <h2 class="text-2xl font-bold mb-6 text-gray-800">Create New Product</h2>

      <form autocomplete="off" action="/products/create" method="post" enctype="multipart/form-data" class="space-y-8">
        
    
        <div>
          <h3 class="text-xl font-semibold mb-4 text-gray-700">Product Details</h3>
          <div class="mb-4">
            <label class="block mb-2 font-medium">Product Image</label>
            <input name="image" type="file" class="w-full border px-4 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-400 bg-gray-50" required>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <input name="name" type="text" placeholder="Product Name"
              class="border p-2 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-400" required>
            <input name="price" type="text" placeholder="Product Price"
              class="border p-2 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-400" required>
            <input name="discount" type="text" placeholder="Discount Price"
              class="border p-2 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-400">
          </div>
        </div>



        <div>
          <input type="submit" value="Create Product"
            class="px-6 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 cursor-pointer transition font-medium">
            <a class="test-white bg-rose-500 hover:bg-rose-700 rounded-md px-4 py-1" href="/logout">Logout</a>
        </div>
      </form>
    </div>
  </main>
</div>

<%- include('./partials/footer') %>
